<!-- footer.html → Global Footer -->

<p>
    © <span id="fiscal-year"></span> Neoaspire. All rights reserved. |

    <a href ="legal/terms-and-conditions.html">
        Terms & Conditions
    </a> |
  
    <a href="legal/privacy-policy.html">
        Privacy Policy
    </a>

<a href="https://www.instagram.com/neo.aspire/"
   target="_blank"
   rel="noopener noreferrer">

    <img
        src="assets/icons/instagram.png"
        alt="Instagram"
        class="social-icon"
    >
        Follow Us
</a>
</p>