<!-- header.html → Global Header (Neoaspire) -->
<header id="header-container">
<!-- Logo -->
 <a href="../" class="logo">
    <img src="../assets/images/logo/logo.png" alt="NeoAspire Logo">
    <span>NeoAspire</span>
</a>


<!-- Navigation -->
<nav class="navbar" aria-label="Main Navigation">

    <!-- HAMBURGER -->
    <button class="menu-toggle" id="menuToggle">
        ☰
    </button>

    <!-- Nav Links -->
    <ul class="nav-links">
        <li> <a href="../">Home</a></li>
         <li> <a href="../pages/about.html">About</a></li>
         <li> <a href="../ems/" data-link="/ems/" data-app="ems">EMS</a></li>
        <li> <a href="../qbank/" data-app="qbank">QBank</a></li>
         <li> <a href="../courses/" >Courses</a></li>
        <li>  <a href="../creatives/">Creatives</a></li>
         <li> <a href="../pages/career-guidance.html">Career Guidance</a></li>
         <li> <a href="../pages/downloads.html">Downloads</a></li>
         <li> <a href="../pages/contact-us.html">Contact Us</a></li>

    </ul>

</nav>
</header>