<!-- Live preview header and footer -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Preview</title>
    <!-- Main CSS of Neoaspire Website -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon/favicon.png">
    <!-- Main JS of Neoaspire Website -->
    <script type="module" src="../assets/js/main.js"></script>

</head>
<body>
    <!-- Inject header for preview -->
     <header id="site-header"></header>
       <!-- Inject footer for preview -->
    <footer id="site-footer"></footer>
</body>
</html>