<!-- EMS HEADER -->

<!-- LEFT -->
<div class="ems-header-left">

    <a data-href="dashboard" class="ems-logo">
        <img data-src="assets/images/logo/logo.png" alt="Logo">
        <span>NeoAspire <strong>EMS</strong></span>
    </a>

    <nav class="ems-nav" id="emsNav">
         <!-- Outside EMS -->
        <a data-href="index.html" class="nav-item">Main Site</a>
        <!-- EMS internal navigation -->
        <a data-href="dashboard" class="nav-item active">Dashboard</a>
        <a data-href="coming-soon.html" class="nav-item">Syllabus</a>
        <a data-href="coming-soon.html" class="nav-item">QP Generator</a>
    </nav>

</div>

<!-- RIGHT -->
<div class="ems-header-right">
    <button class="btn-secondary">Help</button>
    <div class="user-badge">Guest</div>
</div>

<!-- HAMBURGER -->
<button class="menu-toggle" id="menuToggle">
    ☰
</button>