<!-- Live preview header and footer -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Header Preview</title>
    <!-- Main CSS OF Exam Management System -->
    <link rel="stylesheet" href="../assets/css/main.css">
 
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon/favicon.png">

    <!-- Main JS OF Exam Management System -->
    <script type="module" src="../assets/js/main.js"></script>


</head>

<body>
    <!-- Inject header for preview -->
    <header class="ems-header" id="ems-header"></header>
    <!-- Inject footer for preview -->
   <!-- <footer id="ems-footer"></footer> -->
</body>

</html>