<header id="games-header">

    <!-- Logo -->
    <a href="/index.html" class="logo">
        <img src="/assets/images/logo/logo.png" alt="Logo">
        <span>NeoAspire</span>
    </a>

    <!-- Navigation -->
    <nav class="navbar">

        <button class="menu-toggle">☰</button>

        <ul class="nav-links">
            <li><a href="/games/index.html" class="nav-item" data-page="games">Discover</a></li>
         <!--   <li><a href="/games/coming-soon.html" class="nav-item" data-page="leaderboard">Leaderboard</a></li>
            <li><a href="/games/coming-soon.html" class="nav-item" data-page="profile">Profile</a></li> -->
        </ul>

    </nav>

    <!-- User Panel -->
    <div class="user-panel">
        <span>🪙 120</span>
        <div class="avatar"></div>
    </div>

</header>